<footer>
  <div class="container">
    <ul style="flex-direction: row;justify-content: space-between">
      <li>
        <ul style="flex-direction:column;">
          <li><a>Quick Links</a></li>
          <li style="margin-top:10px;">Home</li>
          <li>Income Tax</li>
          <li>Company Law</li>
          <li>SEBI</li>
          <li>GST</li>
          <li>About</li>
        </ul>
      </li>
      <li>
        <ul style="flex-direction:column;">
          <li><a>Important</a></li>
          <li style="margin-top:10px;">Submit Article</li>
          <li>Calculators</li>
          <li>Downloads</li>
          <li>Income Tax Deductions</li>
          <li>Expanelment</li>
          <li>Exam Tips</li>
        </ul>
      </li>
      <li>
        <ul style="flex-direction:column;">
          <li><a>Judgements</a></li>
          <li style="margin-top:10px;">Supreme court</li>
          <li>High Court</li>
          <li>ITAT</li>
          <li>CESTAT</li>
          <li>CLB Judgements</li>
        </ul>
      </li>
      <li>
        <ul style="flex-direction:column;">
          <li><a>Contact Us</a></li>
          <li style="margin-top:10px;">403, BACS , alnfadn</li>
          <li>000-000-000</li>
          <li>Info@complianceCrew.com</li>
          </ul>
      </li>
    </ul>
    <ul style="flex-direction: row;">
      <li><i class="facebook icon"></i></li>
      <li><i class="twitter square icon"></i></li>
      <li><i class="google plus square icon"></i></li>
      <li><i class="linkedin icon"></i></li>
      <li><i class="instagram icon"></i></li>
    </ul>
    <ul style="flex-direction: row;">
      <li><div class="copyright">
          Copyright © 2019 ComplianceCrew private ltd. All rights reserved.
      </div></li>
    </ul>
  </div>
</footer>