<div class="container">
  <div class="desc">
    <h1>Top articles</h1>
    <p>Read about health</p>
    <div class="button">View all</div>
  </div>

<div class="container2">
  <div class="item">
    <ul>
      <li>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRyCRuaw9--neTDEaBLA-_5z83tz4gmYSiplfuMT6hiOC1kz8d7" alt="">
      </li>
      <li><p>Vitamin and Suppliments</p></li>
      <li><h3>5 fruits to boost your health</h3></li>
      <li>Ms. Swati Kapoor</li>
    </ul>  
  </div>
  <div class="item">
    <ul>
      <li>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTDVYOi3kSmCIhlTkT3bIN9upuITi9E1oIyzWntOcMZDGHRFZhh" alt="">
      </li>
      <li><p>Everyday fitness</p></li>
      <li><h3>Top 5 health tips to deal with</h3></li>
      <li><h3>climate change</h3></li>
      <li>Dr. Snehal Sardesai-Singh</li>
    </ul>
  </div>
</div>
</div>