    <div (click)="onDocotorClick()" class="container2">  
    <div class="card">
        <ul>
          <li><img src="{{doctor.image}}" alt=""></li>
          <li><ul style="flex-direction: column;margin-left: 20%; width:100%;">
            <li>
              <h1>{{doctor.name}} </h1>
            </li>
            <li><p><i class="map marker alternate icon"></i> {{doctor.city}}</p></li>
            <li><p><i class="stethoscope icon"></i> {{doctor.speciality}}</p></li>
          </ul></li>
        </ul>
      </div>
    </div>