<br>
<div class="container">
  <div class="searchbar">
    <app-searchbar></app-searchbar>
  </div>
</div>

<div *ngIf="!loadingFlag">
  <app-doctorcard [doctor]="doctorx[0]"></app-doctorcard>
</div>

<div *ngIf="!loadingFlag">
<div *ngFor="let doc of doctor | searchfilter: {name: searchText, city:searchText,  speciality: searchText}; let i=index;">
  <app-doctorcard [doctor]="doc"></app-doctorcard>
</div>


<div *ngIf="loadingFlag" class="ui active inverted dimmer">
  <div class="ui text loader">Loading</div>
</div>
