<div class="container">
      <div class="card">
        <ul style="flex-direction: column">
          <li>
            <ul style="flex-direction: row; justify-content: center;">
              <li><a routerLink="/login" class="nav-text">Login</a></li>
              <li><a style="border-bottom: 2px solid blue;color: gray" class="nav-text">Signup</a></li>
            </ul>
          </li>
          <li><ul>
            <li style="margin-top:20px;"><h1>Welcome</h1></li>
          </ul></li>
          <li>    <ul style="flex-direction: row; justify-content: center">
            <li><div class="logo">óctorX</div></li>
          </ul>
      </li>
          <li>
            <ul style="justify-content: center;flex-direction: row"><li>
            <div class="form">
              <input [(ngModel)]="name" type="text" name="name" required>
              <label class="label-name" for="Name">
                <span class="label-container">Name</span>
              </label>
            </div>
          </li></ul>
          </li>
          <li>
            <ul style="justify-content: center;flex-direction: row"><li>
            <div style="margin-top: 20px;margin-bottom:10px;" class="form">
              <input [(ngModel)]="email" type="text" name="Email" required>
              <label class="label-name" for="Email">
                <span class="label-container">Email</span>
              </label>
            </div>
          </li></ul>
          </li>
            <li>
                <ul style="justify-content: center;flex-direction: row"><li>
                <div style="margin-top: 20px;margin-bottom:10px;" class="form">
                  <input [(ngModel)]="password" type="password" name="password" required>
                  <label class="label-name" for="password">
                    <span class="label-container">Password</span>
                  </label>
                </div>
              </li></ul>
              </li>
          <li>
              <ul style="flex-direction: row; justify-content: center"><li>
            <div class="button">
            <ul style="flex-direction: row">
                <li><a (click)="signup()" class="button-text">Signup</a></li>
            </ul>
          </div></li></ul></li>
        </ul>
      </div>
    </div>
  <div *ngIf="loadingFlag" class="ui active inverted dimmer">
      <div class="ui text loader">Loading</div>
    </div>

