<br>

<app-ad></app-ad>

<!--Top deals-->
<app-offers></app-offers>
<app-doctorlist></app-doctorlist>
<app-blogs></app-blogs>

<div class="container">
    <div class="container" style="flex-direction: column; justify-content: center">
        <div class="row">
            <h1>Doctor Signup/Login</h1>
        </div>
        <div class="row">
            <p>Become a partner</p>
        </div>
    </div>
    <div class="button-container">
    <a routerLink="/doctorsignup"><h2>Click here</h2></a>
    </div>
</div>

<br>
<br>
<br>
<br>

