<div class="container">
      <div class="desc">
        <h1>Top offers</h1>
        <p>Checkout new exciting offers</p>
      </div>
    
    <div class="container2">
      <div class="item">
        <img class="square" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/desktop-health-checkups-home@2x.jpg" alt="">
      </div>
      <div class="item">
        <img class="square" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/desktop-offer-online-consultation-at-99.jpg" alt="">
      </div>
      <div class="item">
        <img class="square" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/desktop-free-home-sample-collection-diagnostic-tests.jpg" alt="">
      </div>
      <div class="item">
        <img class="square" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/desktop-offer-on-medicine.jpg" alt="">
      </div>
    </div>
</div>